/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #7044eb;
    --color-secondary: #fff;
    --background-color: #0F162D;
    --boxes-color: #FFFFFF1A;
    --machine-img-bgcolor: #373155;
    --vr-img-bgcolor: #2C3455;
    --natural-img-bgcolor: #274255;
    --robotics-img-bgcolor: #3D413F;
    --radius-desktop: 24px;
    --radius-mobile: 16px;
}