/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    //--color-primary: #7044eb;
    --color-white: #fff;
    --bg-dark-blue-color: #0F162D;
    --boxes-bg-gray-color: #FFFFFF1A;
    //--violet-img-bgcolor: #373155;
    //--dark-blue-img-bgcolor: #2C3455;
    //--green-img-bgcolor: #274255;
    //--yellow-img-bgcolor: #3D413F;
    --radius-desktop: 24px;
    --radius-mobile: 16px;
}