.component-ai-goals {

    display: flex;
    flex-direction: column;
    max-width: 29.2em;
    gap: 24px;
    
    & &__header {
      margin: 0;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.002em;
    }

    & &__header-box {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
    }

    @media screen and (max-width: 1205px ){
      gap: 16px;
      max-width: 496px;
      
       & &__header-box {
        margin: 0;
      }
    }
    
    @media screen and (max-width: 565px){
      & &__header {
        font-size: 32px;
        line-height: 40px;
        text-align: left;
      }
    }
  }
  