/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
@import "/src/global-styles/styles/root.scss";
@import "/src/pages/home-page/styles/ai-goals.scss";
@import "/src/pages/home-page/styles/boxes.scss";

body{
  background-color: var(--bg-dark-blue-color);
  font-family: 'DM Sans', sans-serif;
}

.component-home-page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--color-white);
  margin: 200px auto ;
  gap: 109px;
  max-width: 1400px;
  
  @media screen and (max-width: 1205px ){
   
    flex-direction: column;
    align-items: center;
    gap: 24px;

  }

  @media screen and (max-width: 565px) {

    margin: 15% 16px 25%;
  }
}

